<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Менеджер профилей знакомств</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body class="landing-page">
<div class="landing-main">
    <h1 class="landing-title">Менеджер профилей знакомств</h1>
    <div class="landing-button">
        <a href="/profiles" class="btn-large btn-primary">Просмотреть профили</a>
    </div>
</div>

</body>
</html>